@using DesignPatterns.Models.Data;
@model IEnumerable<Beer>; // esto es lo que se recibe desde el controlador, la clase Beer la obtenemos de el using arriba
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        @foreach( var beer in Model )
        {
            <p>@beer.Name</p>
        };
    </div>
</div>